In [30]:
import pandas as pd
import numpy as np
from dateutil.parser import parse

In [31]:
df = pd.read_csv('../forecast_csv/df_precip.csv')
#df.head(5)

In [32]:
df['value'] = df['value'] * 9/5 + 32
#df.head()

In [33]:
# Function to parse duration and expand the dataframe

def expand_df(row):
    start_time = pd.to_datetime(row['validTime'].split('/')[0])
    duration_hours = int(row['validTime'].split('PT')[-1].split('H')[0])
    end_time = start_time + pd.Timedelta(hours=duration_hours)

    return pd.DataFrame({
        'validTime': pd.date_range(start=start_time, end=end_time, freq='H', inclusive='left'),
        'value': row['value']
    })

# Apply the function and concatenate the results
df = pd.concat([expand_df(row) for _, row in df.iterrows()], ignore_index=True)

df.head(5)

                  validTime    value
0 2023-11-20 15:00:00+00:00  34.7432
1 2023-11-20 16:00:00+00:00  34.7432
2 2023-11-20 17:00:00+00:00  34.7432
3 2023-11-20 18:00:00+00:00  35.2004
4 2023-11-20 19:00:00+00:00  35.2004

In [34]:
print(df)

                    validTime    value
0   2023-11-20 15:00:00+00:00  34.7432
1   2023-11-20 16:00:00+00:00  34.7432
2   2023-11-20 17:00:00+00:00  34.7432
3   2023-11-20 18:00:00+00:00  35.2004
4   2023-11-20 19:00:00+00:00  35.2004
..                        ...      ...
172 2023-11-27 19:00:00+00:00  32.0000
173 2023-11-27 20:00:00+00:00  32.0000
174 2023-11-27 21:00:00+00:00  32.0000
175 2023-11-27 22:00:00+00:00  32.0000
176 2023-11-27 23:00:00+00:00  32.0000

[177 rows x 2 columns]